<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        Formula One Driver Archive
        {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<div id="loader">
    <div class="spinner"></div>
    <div class="loader-text">
        Loading...
    </div>
</div>

<div>
    {% block content %}
    {% endblock %}
</div>

<script>
window.addEventListener("load", () => {

    setTimeout(() => {

        const loader = document.getElementById("loader");

        loader.style.opacity = "0";

        setTimeout(() => {
            loader.remove();
        }, 500);

    }, 3000); // 3 seconds

});

</script>

</body>
</html>