{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <nav class="navbar">

    <div class="nav-container">

        <a href="/" class="logo">
            Formula One <span>Archive</span>
        </a>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/drivers">Drivers</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/champions">Champions</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        <a href="/explore" class="nav-btn">
            Explore
        </a>

    </div>

</nav>
{% endblock %}